/* så här kan man skriva kommentarer */
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 250px 250px 250px;
     color: #444;
     margin: 25px;
 }

 .box {

     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;
     background: #ff5500;
 }

/*
 .a {
      grid-column: 1 / span 1;
      grid-row: 1/ span 3;
  }
  .b {
      grid-column: 2 /span 1;
      grid-row: 1 / span 3;
  }
  .c {
      grid-column: 3 /span 1;
      grid-row: 1 /span 3 ;
  }
  */

#head {
  margin: 50px;
  height: 200px;
  overflow: hidden;
}

#headpic {
  opacity: 0.75;
  width: 100%;
}


h3 {
  font-size: 25px;
}

li {
  font-size: 15px;
}

h1 {
  color: #ff5500;
  position: absolute;
  margin: 25px;
  top: 50px;
}

body {
  font-family: Poppins;
  font-size: 20px;
}

img {
  height: 140px;
}

/* DENNA FUNGERAR INTE */
#selectButton {
  font-size: 15px;
}

/*
#allergi {
  text-transform: uppercase;
}
*/

.burgerMenu {
  margin: 50px;
  color: #ff5500;
}

#b {
  background: black;
  border: 2px dashed #ff5500;
  /*padding är innanför border*/
  padding: 1px 25px;
}

.info {
  margin: 50px;
}

#i {
  border: 2px dashed black;
  padding: 1px 25px;
}

#orderPic {
  height: 30px;
}

/*changes the color of the send-button when you hover over it*/
button:hover{
  background-color: #ff5500;
}

/*Margin changes bottom/top and left/rught*/
button {
  margin: 10px 50px;
  /* width: 100px;
}
 */
